/* Cores */
:root {
    --background-color-body: #090e22;
    --background-color-container: #1d1e33;
    --text-color: #ffffff;
    --alert-color: #db1912;
    --button-background-color: #f44236;
    --button-background-color-hover: #444444;
    --table-header-color: #cccccc;
    --table-border-color: #444444;
    --good-color: #12db34;
    --low-color: #dbce12;
    --medium-color: #db6212;
    --high-color: #db1912;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  /* Body */
  body {
    background-color: var(--background-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
  }
  
  .hidden {
    display: none !important;
  }
  
  /* Container */
  .container {
    min-height: 400px;
    min-width: 400px;
    background-color: var(--background-color-container);
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  /* Calculator Container */
  #calc-container h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Form */
  .form-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: var(--table-header-color);
  }
  
  .form-control input {
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
  }
  
  .form-control .alert {
    color: var(--alert-color);
    margin-top: 0.5rem;
  }
  
  .form-control .alert.hidden {
    display: none;
  }
  
  .action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  button {
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    background-color: var(--button-background-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0.8;
    flex: 1;
    border-radius: 0.5rem;
  }
  
  button:hover {
    opacity: 1;
  }
  
  #clear-btn {
    background-color: var(--button-background-color-hover);
  }
  
  /* Table Result */
  #result-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  #imc-number {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
  }
  
  #imc-info {
    font-size: 1.4rem;
    color: var(--table-header-color);
  }
  
  #result-container h3 {
    margin-top: 1rem;
    color: var(--text-color);
  }
  
  #imc-table {
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }
  
  .table-header {
    font-size: bold;
    color: var(--table-header-color);
  }
  
  .table-header,
  .table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--table-border-color);
  }
  
  .table-header h4,
  .table-data p {
    flex: 1;
  }
  
  .table-header h4:nth-child(3),
  .table-data p:nth-child(3) {
    max-width: 80px;
  }
  
  #back-btn {
    align-self: center;
    padding: 1rem 40%;
    border-radius: 0.5rem;
  }
  
  /* Color Classes */
  .good {
    color: var(--good-color);
  }
  
  .low {
    color: var(--low-color);
  }
  
  .medium {
    color: var(--medium-color);
  }
  
  .high {
    color: var(--high-color);
  }
  